.completeClock {
    text-align: center;
}

.clock {
    background-color: black;
    height: 450px;
    padding: 2px;
    color: purple;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}