.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: purple;
  height: 150px;
  padding: 20px;
  color: black;
  font-family: cursive;
}
.font{
  font-family: courier;
  color: purple;
  font-size: 40px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
